<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script> -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>


<body>
  <header id="headline">
    <h1>
      Travel App
    </h1>
  </header>
  <main id="container">
    <form id="formContainer">
      <div class="holder" id="country">
        <label for="country">Enter Country Here: </label>
        <input class="inputStyle" id="country" type="text" name="country" placeholder="Enter Country Here">
      </div>
      <div class="holder" id="date">
        <h2 id="dateEntry">Enter Leaving and Arriving Date:</h2>
        <div id="dateContainer">
          <label for="leave">Leaving Date:
            <input class="inputStyle" type="date" name="leave" id="leave">
          </label>
          <label for="arrive">Arriving Date:
            <input class="inputStyle" type="date" name="arrive" id="arrive">
          </label>
        </div>
      </div>
      <div id="submit">
        <input type="submit" name="submit" value="submit" onclick="return Client.handleSubmit(event)"
          onsubmit="return Client.handleSubmit(event)">
      </div>
    </form>
    <div class="holder" id="infoContainer">
      <figure id="locationPhoto">
        <img src="./../media/sample.jpg" alt="The country picture" title="the country">
      </figure>
      <div id="timeContainer">
        <div id="daysLeft">2020/10/10</div>
        <div id="dateArrive">2020/10/10</div>
        <div id="dateCountDown">220</div>
      </div>
    </div>
  </main>

</body>

</html>
