<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script> -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>


<body>
  <header class="headline">
    Travel App
  </header>
  <main id="app">
    <div class="holder country">
      <label for="country">Enter Country here</label>
      <input type="text" id="country" placeholder="enter country here">
    </div>
    <div class="holder date">
      <label for="date">Enter leaving and arrive data</label>
      <div class="dateContainer">
        <label for="date">Leaving date
          <input type="date" name="leave" id="leave">
        </label>
        <label for="date">Arriving date
          <input type="date" name="arrive" id="arrive">
        </label>
      </div>
    </div>
    <input id="submit" type="submit" name="submit" value="submit" onclick="return Client.handleSubmit(event)"
      onsubmit="return Client.handleSubmit(event)">
    <div class="holder entry">
      <div class="photoContainer">
        <div id="locationPhoto"><img src="./../media/sample.jpg" alt="The country picture" title="the country"></div>
        <div id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In a atque asperiores magnam
          laborum. Ullam omnis earum, hic quod molestias voluptas asperiores eum perferendis odio, id, repellendus
          cupiditate fuga molestiae?</div>
      </div>
      <div id="daysLeft">20/10/2020</div>
      <div id="dateArrive">30/10/2020</div>
      <div id="dateCountDown">220</div>
    </div>
  </main>

</body>

</html>
