@import "./media.scss";
$boxShadow: -1px 2px 5px 0px gray;
@mixin columnFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-image: linear-gradient(100deg, rgba(253, 221, 179, 0.5), rgba(250, 206, 149, 0.795)),
        url("./../media/background-texture.jpg");
    background-size: cover;
}

#container {
    font-family: "Oswald", sans-serif;
}

/*  Basic Styling To Override Default For Basic HTML Elements */

input {
    font-family: "Oswald", sans-serif;
    border: none;
    background-color: #fffff0;
    border-radius: 15px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: "Oswald", sans-serif;
}
