@import "./media.scss";
$boxShadow: -1px 2px 5px 0px gray;
@mixin columnFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-image: linear-gradient(90deg, #3a1c7180, #d76d7780, #ffaf7b80), url("./../media/background-texture.jpg");
    background-size: cover;
    height: auto;
}
#headline {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    margin: 5px 0 20px 0;
    @include large{
        font-size:35px;
    }
    @include medium{
        font-size: 35px;
    }
}

#container {
    font-family: "Oswald", sans-serif;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:auto;
    @include large {
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
}
#country{
    margin-top: 10px;
}
#date{
    line-height: 35px;
    @include medium{
        line-height: 60px;
    }
}
.holder {
    margin-bottom: 35px;
    width:fit-content;
}
#formContainer {
    @include columnFlex;
    height:65%;
    width: fit-content;
    background-color: #d76d784b;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    box-shadow: $boxShadow;
    @include large{
        line-height: 80px;
        width: 45%;
        margin:15px 10px 10px 10px;
         justify-content: space-evenly;
    }
    @include medium{
    line-height: 70px;
    width: 70%;
    font-size: 35px;
    }
    @include small{
        font-size: 25px;
    }
    @include xsmall{
        font-size: 23px;
    }
}
#dateEntry {
    margin-bottom: 7px;
}
#leave {
    margin-bottom: 10px;
}
#dateContainer {
    @include columnFlex;
}
.inputStyle {
    border: none;
    background-color: rgba(255, 255, 255, 0.548);
    box-shadow: $boxShadow;
    padding: 2.5px 0 2.5px 10px;
}
#infoContainer {
    height: auto;
    @include large{
        width: 45%;
    }@include medium{
        width: 80%;
    }@include small{
        width: 70%;
    }
}
.hide{
    display: none;
}
#photoContainer {
    padding: 15px;
    margin-bottom: 10px;
    img {
        width:100%;
        border-radius: 20px;
        box-shadow: $boxShadow;
    }
}
#photoCaption{
    margin: 10px auto 0 auto;
    font-size: 1.7rem;
    background-color:#ffaf7b80;
    width: fit-content;
    padding: 8px 15px;
    border-radius: 20px;
}
#dataContainer{
    width:fit-content;
    margin: auto;
    text-align: center;
    @include large{
        font-size: x-large;
    }
    @include medium{
        font-size: x-large;
    }
    @include small{
        font-size: larger;
    }@include xsmall{
        font-size: large;
    }
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000000;
}

th {
    border: 1px dashed #000000;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd9a;
  }

#submit {
    input {
        box-shadow: $boxShadow;
        background-color: #d76d7880;
        padding: 5px 35px;
        margin-bottom: 20px;
        font-size: 16px;

        &:hover{
            backdrop-filter: blur(2px);
            background: linear-gradient(90deg,#3a1c71,#ffb07b91);
            transition: 0.25s;
            color: white;
        }
    }
}
/*  Basic Styling To Override Default For Basic HTML Elements */

input {
    font-family: "Oswald", sans-serif;
    border: none;
    background-color: #fffff0;
    border-radius: 15px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: "Oswald", sans-serif;
}
